# Ignore Gradle project-specific cache directory
.gradle

# Ignore folders
build/
.vscode/
.settings/
bin/

# Ignore files
.project
.classpath

# This is excluded to avoid issue with gradle-gitflow
#   gradle-gitflow uses grgit to detect the version. When gradle builds it will update gradlew.bat in a way that is 
#   undetectable by regular git, but grgit detects it and marks the version as dirty.
gradlew.bat